{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["**/node_modules/**"],
  "rules": {
    "indentation": 2,
    "value-list-comma-newline-after": "never-multi-line",
    "at-rule-no-unknown": null,
    "order/properties-alphabetical-order": true
  }
}
